.card__container {
    border-bottom: 6px solid #7a4b2e;
    background-color: #cba257;
    padding: 5px 5px 5px 5px;
}
.card__container:nth-child(2) {
    background: #df8613d7;
  }
.display__events {
    height: 300px;
    overflow: scroll;
}