/* Styling for Messages Container */

.message--item {
    display: flex;
}

.messages--section--container {
    width: 50%;
    border: 2px solid #7a4b2e;
    margin-left: 20px;
}

.message--item--message {
    margin-left: 5px;
    margin-right: 50px;
}

.messages--list {
    height: 300px;
    overflow: auto;
}

.messages--input--text {
    width: 90%;
}

.message--edit {
    width: 60px;
    height: 30px;
}

.message--item--date {

}